{% extends 'base.html' %}

{% block title %}Contact Us {% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-4">
<img src="https://source.unsplash.com/1500x500/?cellphone" >
</div>
<div class="container border py-3">
<h1 class="text-center">Contact Us</h1>
<form method="post" action="/contactus">
{% csrf_token %}
  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input type="text" class="form-control" id="name" name="uname" placeholder="Enter Your name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Contact Number</label>
    <input type="tel" class="form-control" id="nmber" name="number" placeholder="Enter your Number">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Type Why you wanna Contact</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="des" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Send</button>
</form>
</div>
{% endblock body %}